.searchComponent {
    display: grid;
    justify-content: center;
    align-items: center;
}

.chipDiv {
    margin-top: 10px;
}

.chip{
    margin-right: 5px;
}
.gps-icon {
    margin-right: -52px !important;
    position: absolute !important;
    right: 0;
    top: 4%;
}